
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,html {
    height: 100%;
    font-family: sans-serif
}

a {
    margin: 0;
    transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s
}

a:focus {
    outline: none!important
}

a:hover {
    text-decoration: none
}


.js-pscroll {
    position: relative;
    overflow: hidden
}

.table100 .ps__rail-y {
    width: 9px;
    background-color: transparent;
    opacity: 1!important;
    right: 5px
}

.table100 .ps__rail-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #ebebeb;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px
}

.table100 .ps__rail-y .ps__thumb-y {
    width: 100%;
    right: 0;
    background-color: transparent;
    opacity: 1!important
}

.table100 .ps__rail-y .ps__thumb-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #ccc;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px
}



table {
    width: 100%
}

th,td {
    font-weight: unset;
    padding-right: 10px
}

.column1 {
    width: 5%;
    padding-left: 40px
}

.column2 {
    width: 13%
}

.column3 {
    width: 22%
}

.column4 {
    width: 19%
}

.column5 {
    width: 13%
}
.column6 {
    width: 30%
}

.table100-head th {
    padding-top: 18px;
    padding-bottom: 18px
}

.table100-body td {
    padding-top: 16px;
    padding-bottom: 16px
}

.table100 {
    position: relative;
    padding-top: 60px
}

.table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0
}

.table100-body {
    max-height: 585px;
    overflow: auto
}

.table100.ver2 .table100-head {
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1)
}

.table100.ver2 th {
    font-family: Lato-Bold;
    font-size: 18px;
    color: #fa4251;
    line-height: 1.4;
    background-color: transparent
}

.table100.ver2 td {
    font-family: Lato-Regular;
    font-size: 15px;
    text-align: center;
    color: gray;
    line-height: 1.4
}

.table100.ver2 .table100-body tr {
    border-bottom: 1px solid #f2f2f2
}

.table100.ver2 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    -o-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    -ms-box-shadow: 0 0 40px 0 rgba(0,0,0,.15)
}

.table100.ver2 .ps__rail-y {
    right: 5px
}

.table100.ver2 .ps__rail-y::before {
    background-color: #ebebeb
}

.table100.ver2 .ps__rail-y .ps__thumb-y::before {
    background-color: #ccc
}

